* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #408665;
}
header {
  display: block;
  background-color: blue;
  height: 60vh;
  background-image: url(/Images/design1_image2.jpg);
  background-size: cover;
  background-position-x: center;
  margin-top: 40px;
}
header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 50px;
  color: #ffdf63;
  position: relative;
  bottom: 43px;
  left: 500px;
  transform: scale(1.6);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  height: 10vh;
  background-color: red;
  line-height: 10vh;
  position: relative;
  bottom: 61px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: azure;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
aside {
  display: flex;
  justify-content: center;
}
aside img {
  height: 80vh;
}
.logo {
  transition: all 1s;
}
.logo:hover {
  transform: rotateY(180deg);
}
section {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}
section h3 {
  font-size: 30px;
  padding-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section p {
  padding-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  text-align: end;
  position: relative;
  bottom: 500px;
  right: 50px;
  padding-top: 20px;
}
.buttom {
  background-color: cornflowerblue;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.buttom:hover {
  background-color: green;
}
.email {
  margin-top: 80px;
}
.abouText {
  font-size: 15px;
  display: inline-block;
  width: 1200px;
}
.abouText h3 {
  font-size: 40px;
}
footer {
  background-color: red;
  font-size: 24px;
  color: lightblue;
  text-align: end;
  height: 30px;
}
.textHome{
  text-align: center;
  color: aliceblue;
}
.textHome h4{
  font-size: 40px;
  background-color: red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
  1px 1px 0 #000;
}
.textHome P{
  color: black;
}
