* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
main {
  min-height: 80vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
}
body::before {
  content: "";
  background: url(../Images/hockey_3.jpg) no-repeat center center;
  background-size: auto;
  position: absolute;
  background-attachment: unset;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}
h3 {
  text-align: center;
  padding: 15px;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
}
header h1 {
  text-align: center;
  background-color: #c64832;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #ffdf63;
  margin-bottom: 10px;
}
.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
aside {
  text-align: center;
}
aside img {
  height: 400px;
}
.logo {
  transition: all 1s;
}
.logo:hover {
  transform: rotateY(180deg);
}
.buttom {
  display: inline-block;
  transition: transform 0.3s;
}
.buttom:hover {
  background-color: #5fa199;
  transform: scale(1);
}
h2 {
  text-align: center;
  font-size: 60px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 3px 0 #000,
    1px 1px 0 #000;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-content: space-between;
  margin-top: 40px;
  background-color: #f5f5f5a9;
  margin-left: 40px;
  margin-right: 40px;
}
section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
section p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px;
}
table {
  background-color: antiquewhite;
  text-align: center;
  height: auto;
  border-collapse: collapse;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin: 1px;
  min-width: 100vh;
  min-height: 60vh;
}
.showTableData {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
tr,
td,
th {
  border: 4px solid black;
}
th,
td {
  padding: 10px;
  text-align: center;
}

.iconos {
  text-align: center;
}
.iconos i {
  width: 30px;
  margin-top: 10px;
}
.redes {
  font-size: 30px;
  margin: 10px;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}
.cardsContainer div {
  margin: 10px;
  width: 250px;
  background-color: #c64832;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
}
.cardsText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 20px;
  text-align: center;
}
.card {
  --bg: #dbd7d7;
  --hover-bg: #ffe5f4;
  --hover-text: black;
  max-width: 330px;
  height: 450px;
  margin: 30px;
  text-align: center;
  background: var(--bg);
  position: relative;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.card__body {
  color: #162eb1;
  line-height: 1.5em;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card > :not(span) {
  transition: 0.6s cubic-bezier(0.6, 0.4, 0, 1);
}

.card > strong {
  display: block;
  font-size: 1rem;
  letter-spacing: -0.035em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all 0.7s cubic-bezier(0.6, 0.4, 0, 1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card:hover span {
  top: 0;
  font-size: 15px;
}

.card:hover {
  background: var(--hover-bg);
}

.card:hover > div,
.card:hover > strong {
  opacity: 0;
}
.cards {
  width: 250px;
  height: 350px;
  border: 1px solid black;
}
.textHome {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(15, 15, 15);
}
.textHome h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.textHome p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px;
}
.textAbout {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.email {
  font-size: 40px;
}

.titles {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  height: 80px;
  margin: auto;
  position: relative;
  background-color: #2c3e50;
  z-index: 7;
}
.maps{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 15px;
}
.maps div{
  border: 1px solid black;
}
.menu li {
  text-align: center;
  float: left;
  width: 16%;
  height: 100%;
  margin-left: 3px;
}
.menu a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  z-index: 9;
}
a.active {
  background-color: red;
  pointer-events: none;
}
li.slider {
  display: none;
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2c3e50;
  z-index: 8;
  transition: left 0.4s;
  background-color: 0.4s;
}
footer {
  background-color: #5fa199;
  height: 80px;
}
#Special {
  background-color: #5fa199;
  height: 80px;
}
footer p {
  text-align: end;
}
.iconos {
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: blue;
  background: url(../Images/maurice-dt-cQ7X3AL1_LI-unsplash.jpg) no-repeat
    center center;
  height: 300px;
  min-height: 100%;
  width: auto;
  background-size: cover;
  padding-left: 700px;
}

.button-92 {
  --c: #fff;

  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    #c64832;

  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
  height: 80px;
  width: 300px;
}
.green {
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    #5fa199;
}

.button-92:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-92 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
  text-decoration: none;
  text-align: center;
}
#rules {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#rules li {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#rules h4 {
  align-self: center;
  text-align: center;
}
/* formulario */

.formdirection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-weight: normal;
}
form div {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.school {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  margin-left: 13%;

  padding: 30px;
}
.schoolcontainer {
  display: flex;
}
.gameInfoText {
  text-align: justify;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  padding: 20px;
}
.signatures {
  text-align: justify;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  padding: 20px;
  line-height: 80px;
}
fieldset {
  margin-bottom: 20px;
}
.buttonForm{
  text-align: center;
  padding-bottom: 10px;
}

/* media queries */
@media (max-width: 425px) {
  header h1 {
    text-align: center;
    background-color: #c64832;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    color: #ffdf63;
    margin-bottom: 10px;
  }

  body::before {
    display: none;
  }
  aside img {
    height: 200px;
  }
  aside {
    text-align: center;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    align-items: center;
    list-style: none;
    height: 25px;
    position: relative;
    background-color: #2c3e50;
    margin-right: 30px;
    width: 100%;
  }

  .menu li {
    text-align: center;
    float: left;
    width: 20%;
  }
  .menu a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    font-size: 10px;
    z-index: 9;
  }
  ul.menu {
    margin-right: 50px;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 3px 0 #000,
      1px 1px 0 #000;
  }
  h3 {
    font-size: 20px;
  }
  section h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
  }
  .textHome h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  .textHome p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 5px;
  }
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: blue;
    background: url(../Images/maurice-dt-cQ7X3AL1_LI-unsplash.jpg) no-repeat
      center center;
    height: 300px;
    min-height: 100%;
    width: auto;
    background-size: cover;
    padding-left: 1px;
  }
  .button-92 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  .button-92 {
    --c: #fff;
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
        var(--_p, 100%) / 300% no-repeat,
      #c64832;
    color: #0000;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
    text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
      calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
    outline-offset: 0.1em;
    transition: 0.3s;
    height: auto;
    width: auto;
    padding: 5px;
  }
  .green {
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
        var(--_p, 100%) / 300% no-repeat,
      #5fa199;
  }
  footer {
    background-color: #5fa199;
    height: auto;
  }
  .iconos i {
    width: 15px;
    margin-top: 5px;
  }
  .redes {
    font-size: 20px;
    margin: 10px;
  }
  footer p {
    text-align: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
  }
  .titles {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .cards {
    width: 200px;
    height: 250px;
    border: 1px solid black;
  }
  .card {
    --bg: #dbd7d7;
    --hover-bg: #ffe5f4;
    --hover-text: black;
    max-width: 230px;
    height: 350px;
    margin: 10px;
    text-align: center;
    background: var(--bg);
    position: relative;
    overflow: hidden;
    transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
  }
  .card > strong {
    display: block;
    font-size: 1rem;
    letter-spacing: -0.035em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .card span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all 0.7s cubic-bezier(0.6, 0.4, 0, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .card:hover span {
    top: 0;
    font-size: 0.6rem;
  }
  .card:hover {
    background: var(--hover-bg);
    padding: 2px;
  }
  section p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 5px;
  }
  #rules li {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .textAbout {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  table {
    background-color: antiquewhite;
    text-align: center;
    height: auto;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin: 1px;
    min-width: 20vh;
    min-height: 30vh;
  }
  .gameInfoText {
    text-align: justify;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 5px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    font-weight: normal;
  }
  .label1 {
    display: flex;
    justify-content: center;
    text-align: center ;
    cursor: default;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  form div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
  }
  .formdirection {
    display: flex;
    flex-direction: column;

  }
  fieldset {
    display: flex;
    flex-direction: column;
  }
  .school {
    width: 50%;
    display: flex;
    flex-wrap: row;
    flex-direction: column;
    align-items: stretch;
  }
  .schoolcontainer {
    display: flex;
    flex-direction: column;
  }
  strong {
    font-weight: bold;
    font-size: 15px;
  }
  .signatures {
    text-align: justify;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px;
    padding: 5px;
    line-height: 35px;
  }
}
@media (max-width: 768px) {
  header h1 {
    text-align: center;
    background-color: #c64832;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    color: #ffdf63;
    margin-bottom: 10px;
  }

  body::before {
    content: "";
    background: url(../Images/hockey_3.jpg) no-repeat center center;
    background-size: auto;
    position: absolute;
    background-attachment: unset;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
  }
  aside img {
    height: 200px;
  }
  aside {
    text-align: center;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    align-items: center;
    list-style: none;
    height: 25px;
    position: relative;
    background-color: #2c3e50;
    margin-right: 30px;
    width: 100%;
  }

  .menu li {
    text-align: center;
    float: left;
    width: 20%;
  }
  .menu a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    font-size: 10px;
    z-index: 9;
  }
  ul.menu {
    margin-right: 50px;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 3px 0 #000,
      1px 1px 0 #000;
  }
  h3 {
    font-size: 20px;
  }
  section h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
  }
  .textHome h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  .textHome p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 5px;
  }
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: blue;
    background: url(../Images/maurice-dt-cQ7X3AL1_LI-unsplash.jpg) no-repeat
      center center;
    height: 300px;
    min-height: 100%;
    width: auto;
    background-size: cover;
    padding-left: 1px;
  }
  .button-92 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  .button-92 {
    --c: #fff;
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
        var(--_p, 100%) / 300% no-repeat,
      #c64832;
    color: #0000;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
    text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
      calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
    outline-offset: 0.1em;
    transition: 0.3s;
    height: auto;
    width: auto;
    padding: 5px;
  }
  .green {
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
        var(--_p, 100%) / 300% no-repeat,
      #5fa199;
  }
  footer {
    background-color: #5fa199;
    height: auto;
  }
  .iconos i {
    width: 15px;
    margin-top: 5px;
  }
  .redes {
    font-size: 20px;
    margin: 10px;
  }
  footer p {
    text-align: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
  }
  .titles {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .cards {
    width: 200px;
    height: 250px;
    border: 1px solid black;
  }
  .card {
    --bg: #dbd7d7;
    --hover-bg: #ffe5f4;
    --hover-text: black;
    max-width: 230px;
    height: 350px;
    margin: 10px;
    text-align: center;
    background: var(--bg);
    position: relative;
    overflow: hidden;
    transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
  }
  .card > strong {
    display: block;
    font-size: 1rem;
    letter-spacing: -0.035em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .card span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all 0.7s cubic-bezier(0.6, 0.4, 0, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .card:hover span {
    top: 0;
    font-size: 0.6rem;
  }
  .card:hover {
    background: var(--hover-bg);
    padding: 2px;
  }
  section p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 5px;
  }
  #rules li {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .textAbout {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  table {
    background-color: antiquewhite;
    text-align: center;
    height: auto;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin: 1px;
    min-width: 20vh;
    min-height: 30vh;
  }
  .gameInfoText {
    text-align: justify;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 5px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    font-weight: normal;
  }
  .label1 {
    display: flex;
    justify-content: center;
    text-align: center ;
    cursor: default;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  form div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
  }
  .formdirection {
    display: flex;
    flex-direction: column;

  }
  fieldset {
    display: flex;
    flex-direction: column;
  }
  .school {
    width: 50%;
    display: flex;
    flex-wrap: row;
    flex-direction: column;
    align-items: stretch;
  }
  .schoolcontainer {
    display: flex;
    flex-direction: column;
  }
  strong {
    font-weight: bold;
    font-size: 15px;
  }
  .signatures {
    text-align: justify;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px;
    padding: 5px;
    line-height: 35px;
  }
  main {
    min-height: 90vh;
  }
}